<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebRTC</title>
</head>
<body>
    
    <p>Hello WebRTC</p>

    <video autoplay></video>

    <script>
        navigator.getUserMedia = navigator.getUserMedia ||
                                 navigator.webkitGetUserMedia ||
                                 navigator.mozGetuserMedia

        var constraint = {
            audio: false, 
            video: {
                mandatory: {
                    minWidth: 320,
                    minHeight: 180
                }
            }
        }

        var videoArea = document.querySelector("video");

        function onSuccess(stream) {
            console.log("Success! We have a stream.");
            videoArea.src = window.URL.createObjectURL(stream);
            videoArea.play();
        }

        function onError(error) {
            console.error("An error occured.", error)
        }

        navigator.getUserMedia(constraint, onSuccess, onError);

    </script>

</body>
</html>