<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebRTC</title>
</head>

<body>

    <h4>Chat Room</h4>

    <video id="videoTag" autoplay></video>

    <div>
        <label for="myName">Your Name:</label>
        <input type="text" id="myName">

        <label for="myMessage">Message:</label>
        <input type="text" id="myMessage">

        <input type="submit" id="sendMessage">

        <div id="chatArea">Mesage Output: <br></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        var videoArea = document.querySelector("video");
        var myName = document.querySelector("#myName");
        var myMessage = document.querySelector("#myMessage");
        var sendMessage = document.querySelector("#sendMessage");
        var chatArea = document.querySelector("#chatArea");
        var ROOM = "chat";

        //startStream();

        socket.on('connect', function () {
            console.log('Connected to server!');
            socket.emit('ready', ROOM, function (err) {
                if (err) {
                    alert(err);
                }
                console.log('No error');
            });
        })

        socket.on('disconnect', function () {
            console.log('Disconnected to server!');
        });

        socket.on('announce', function (data) {
            displayMessage(data.message);
        });

        function displayMessage(message) {
            chatArea.innerHTML = chatArea.innerHTML + "<br>" + message;
        }

        socket.on('message', function(data) {
            displayMessage(data.author + ': ' + data.message)
        });

        sendMessage.addEventListener("click", function(e) {
            socket.emit('send', {"author":myName.value, "message":myMessage.value, "room":ROOM});
            e.preventDefault();
        }, false);

        function startStream() {
            navigator.getUserMedia = navigator.getUserMedia ||
                navigator.webkitGetUserMedia ||
                navigator.mozGetuserMedia

            var constraint = {
                audio: false,
                video: true
            }

            navigator.getUserMedia(constraint, onSuccess, onError);
        }

        function onSuccess(stream) {
            console.log("Success! We have a stream.");
            //videoArea.src = window.URL.createObjectURL(stream);
            videoArea.srcObject = stream;
            videoArea.play();
        }

        function onError(error) {
            console.error("An error occured.", error)
        }
    </script>

</body>

</html>